{% extends "base.html" %}

{% block content %}
  {% if error_message %}
    <p class="error">{{ error_message }}</p>
  {% endif %}

  <form action={{ app_path }} method="post">
	<table>
	<tr>
		<td><label for="username">Login:</label></td>
		<td><input type="text" name="username" value="" id="username"></td>		
	</tr>
	<tr>
		<td><label for="password">Password:</label></td>
		<td><input type="password" name="password" value="" id="password"></td>		
	</tr>	
	</table>	
	<input type="submit" value="login" />
  </form>
{% endblock %}